





body {
    min-width: 1200px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto", "Arial", sans-serif;
    background: #88a294 url(../img/bg1.jpg)  center top;
}

h1 {
    font-size: 60px;
    line-height: 60.35px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.main-header {
      
    min-height: 120px;
    margin-bottom: 2px;
    position: relative;
}

.container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
    
}

.main-navigation {

    width: 600px;
    min-height: 73px;
   
    float: left;
    font-size: 0;
}

.main-navigation a {
    display: block;
    color: #ffffff;
    padding: 10px 14px;
    
}

.nav-list  a:hover {
    color: #333333;
    background: #f7f6f3;
    border-radius: 30px;
    text-decoration: none;
}

 .nav-list  a:active {
    background: #ededed;
    box-shadow:inset 0 2px 1px 0 #696969;
}

.nav-item {
    display: inline-block;
    font-size: 16px;
    margin-top: 17px;
    margin-right: 1px;
}

.main-navigation > li {
    position: relative;
}

 .sub-menu a {
    text-decoration: none;
    color:#323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.sub-menu a:hover {
    background: #fbded7;
}

.sub-menu a:active {
    background: #f6b5a5;
}

 .sub-menu li:first-child a {
    font-weight: 700;
}

 .sub-menu li:nth-child(2)  {
    height: 1px;
     width: 128px;
     background: #d1d0ce;
}

.main-navigation .sub-menu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 5px 5px ;
    list-style: none;
    background: #f8f7f4;
    
    margin-top: 5px;
    margin-left: -6px;
    border-radius: 5px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4); 
}



.main-navigation li:hover  .sub-menu  {
    display: block;
}

.index-logo {
    float: left;
    margin-top: 10px;
    margin-right: 18px;
}

.user-block {
    width: 500px;
    min-height: 120px;
    background-color: darkmagenta;
    float: right;   
}

.work-time {
    background-color: darkgoldenrod;
    float: right;
    position: relative;
    bottom: -167px;
    right: -501px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

main {
    
}

.slide-1,.slide-2,.slide-3 {
    text-align: center;
}

.switch {
    margin-bottom: 63px;
}
.content {
    margin-bottom: 40px;
    font-size: 18px; 
    
}

.content h2 {
    margin-bottom: 15px;
}

.content-left {
    width: 520px;
    float: left;
    min-height: 194px;
    margin-right: 26px;
    padding: 15px 20px 20px 20px;
    background: url(../img/fruit-bg.jpg) no-repeat;
    border-radius: 20px;
    position: relative; 
    
}



.content-link {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.content-right {
    width: 520px;
    float: right;
    background-color: forestgreen;
    min-height: 194px;
    padding: 15px 20px 20px 20px;
    background: url(../img/choco-bg.jpg) no-repeat;
    border-radius: 20px;
    position: relative;
}

.ices {
    font-size: 0;
    margin-bottom: 40px;
 
}

.content-ice {
    list-style: none;
}

.content-ice-item {
    display: inline-block;
    width: 267px;
    min-height: 360px;
    margin-left: -40px;         /* пришлось добавлять эту строку и вместо margin-right: 26px ставить 66px; , так как первый элемент  content-ice-item как-будто по умолчанию имел margin-left: 40px; не подскажешь почему так получилось? */
    margin-right: 66px;
   
    font-size: 16px;
    vertical-align: top;
    position: relative;
    
}

.content-ice-item:hover {
    background: red;
    
}

.top-left {
    position: absolute;
    
}

.price {
    position: absolute;
    top: 220px;
}

.content-ice-item:nth-child(4) {
    margin-right: 0;
}


.bottom-ice-item {
    margin-top: 5px;
    padding: 0 5px;
    text-align: center;
}



.ices-link-hover {
   
    display: none;
   
}

.description {
    background: #eadbc1 url("../img/pattern.jpg");
    min-height: 245px;
    margin-bottom: 40px;
    padding: 20px 20px 25px 20px;
    border-radius: 15px;
    color: #323232;
    
}

.caption {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 8px;
}

.description-column {
    font-weight: 400;
}

.description-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.description-left {
    float: left;
    width: 540px;
    margin-right: 26px;
    padding-top: 15px;
    position: relative;
}

.before-item-1:before {
    content: " ";  
    position: absolute;  
    top: 0;  
    left: 0;
    background: url(../img/small-ice.svg) no-repeat;  
    height: 48px;  
    width: 48px;  
}

.before-item-1 {
    margin-left: 56px;
    margin-bottom: 7px;
  
}

.before-item-2:before {
    content: " ";  
    position: absolute;  
    top: 3px;  
    left: -55px;
    background: url(../img/small-list.svg) no-repeat;  
    height: 48px;  
    width: 48px;  
}

.before-item-2 {
    position: relative;
    padding-top: 16px;
    margin-left: 56px;
}



.description-right {
    float: right;
    width: 540px;
    padding-top: 15px;
    position: relative;
}

.before-item-3 {

    margin-left: 56px;
    margin-bottom: 7px;
}

.before-item-4 {
    position: relative;
    padding-top: 16px;
    margin-left: 56px;
}

.before-item-3:before {
    content: " ";  
    position: absolute;  
    top: 0;  
    left: 0;
    background: url(../img/small-caw.svg) no-repeat;  
    height: 48px;  
    width: 48px;  
}

.before-item-4:before {
    content: " ";  
    position: absolute;  
    top: 3px;  
    left: -55px;
    background: url(../img/small-temp.svg) no-repeat;  
    height: 48px;  
    width: 48px;  
}

.blog-subscription {
    margin-bottom: 40px;
    color: #323232;
    
}

.blog {
    float: left;
    min-height: 172px;
    width: 520px;
    margin-right: 26px;
    padding: 23px 20px 25px 20px;
    background: #f8f7f4 url(../img/strawberry-bg.jpg);
    border-radius: 20px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.blog a {
    
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: #323232;
}

.subscription {
    float: right;
    min-height: 157px;
    width: 510px;
    padding: 33px 25px 30px 25px;
    background: #f8f7f4 url(../img/color-bg.jpg);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
}

.subscription-form {
    
    margin-top: 37px;
}

.subscription-form input {
    float: left;
    font: inherit;
    color: inherit;
    width: 345px;
    
    padding: 11px 0 10px 14px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
}

.subscription-form input:nth-child(2n) {
  margin-right: 0;
}

.subscription-form .btn {
    float: right;
    margin-left: 12px;
}

.btn  {
    display: inline-block;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
  padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(#f26843, #e74a35);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    
}

.btn:hover {
  background:  linear-gradient(#f58669, #ec6f5e);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.btn:active {
    background:  linear-gradient(#e74a35,  #f26843) ;
  
    box-shadow: 0 -2px 2px 0 rgba(172, 16, 0, 1);
}

.info {
    background-color: chartreuse;
     min-height: 430px;
    margin: 0;   /* нужно сделать так чтобы карта была вплотную к границам*/
  
}

.map {
      position: absolute;  /* 1.	Как быть с картой, если не хватает ее ширины?*/


    
}
.aside {
    background-color: turquoise; 
    float: right;
    min-height: 307px;
/* 2.	И как блок aside спозиционировать на карте (теперь он частично картой закрыт), чтобы он не прилипал к границе правой при разных разрешениях экрана и был выровнен по направляющей как и все блоки, что выше него на макете.*/
  
   
}
.main-footer {
    background-color: pink;
    padding-top: 37px;
}

.footer-social{
    background-color: crimson;
    float: left;
    min-height: 37px;
    width: 267px;
    margin-right: 134px;
    font-size: 0;
}

.social-item {
    display: inline-block;
    font-size: 14px;
}

.footer-list {
     background-color: crimson;
    float: left;
     min-height: 37px;
   
}



.footer-nav-left {
    background-color: aqua;
    float: left;
    width: 160px;
    margin-right: 5px;
}

.footer-nav-right {
    background-color: aqua;
    float: right;
    width: 185px;
}

.footer-copyright {
    float: right;
    background-color: crimson;
}

.title-inner {
    background-color: gray;
    margin-bottom: 25px;
}

.breadcrumbs{
    background-color: fuchsia;
    font-size: 0;
}

.breadcrumbs-item {
    display: inline-block;
    font-size: 14px;
}

.forms {
    background-color: gold;
    font-size: 0;
    margin-bottom: 40px;
}

.form-item {
    display: inline-block;
    font-size: 16px;
}

.radio-form {
    font-size: 0;
}

.radio-item {
    display: inline-block;
    font-size: 16px;
}

.checbox-form {
    font-size: 0;
}

.checbox-item {
    display: inline-block;
    font-size: 16px;
}

.pagination {
    background-color: darkred;
    font-size: 0;
    margin-bottom: 30px;
}

.pagination_item {
    display: inline-block;
    font-size: 16px;
}

