





body {
    min-width: 1200px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #849d8f;
   
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
    
  min-width: 1200px;
 

  background-repeat: no-repeat;
  background-position: top center;
    
  transition: background-image 0.5s ease, background-color 0.5s ease;
}


.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/bg2.png");
}

.site-wrapper:after {
 background-image: url("../img/bg3.png");
}


.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
    margin-bottom: 40px;
}

.slide {
  display: none;
}

.slide-title {
  width: 794px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
    line-height: 61px;
}

.slide-btn {
  display: inline-block;
  vertical-align: top;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
    background: rgba(255, 255, 255, 0.4);
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/bg1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/bg2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/bg3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}





h1 {
    font-size: 60px;
    line-height: 60.35px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.main-header {
      
    min-height: 120px;
    margin-bottom: 2px;
    position: relative;
    
}



.container {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
    padding-top: 9px;
}

nav {
	
    width:100%;
    
}

.index-logo {
	float:left;
	
	line-height: 0;
	margin-left:-7px;
	margin-right: 17px;
}
.main-menu{
	float:left;
	width:500px;
	margin: 0;
	padding: 0;
    
	
}
.main-menu>li {
	display:inline-block;
	position:relative;
	margin-left:0px;
	padding:13px 0px;
	vertical-align: top;
}
.main-menu>li>a{
	display:inline-block;
	font-size: 16px;
	line-height: 18px;
	padding: 7px 12px;
	border-radius:18px;
	color:#ffffff;
	font-weight: 700;
}
.active-page a {
	background-color: #d07058;
	color:#ffffff;	
	text-decoration: none;
}

.main-menu>li>a:hover{
	background-color: #f7f6f3;
	color:#333333;	
	text-decoration: none;
}
.main-menu>li>a:active{
	background-color: #ededed;
	color:#333333;	
	text-decoration: none;
	box-shadow:inset 0px 2px 1px rgb(105,105,105);
}
.sub-menu {
	position:absolute;
	left:-7px;
	width:143px;
    font-weight: 400;
	background-color: #f8f7f4;
	z-index:20;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	padding-bottom: 8px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	display:none;

}
.main-menu li li {
	display: block;
}
.sub-menu li {
	padding-top: 3px;
}
.sub-menu li:first-child {
	font-weight: 700;
	font-size:14px;
	line-height: 14px;
	padding:5px 0 7px 0;
	position:relative;
}
.sub-menu li:first-child::after {
	content:"";
	position:absolute;
	right:6px;
	bottom:0;
	left:9px;
	height:1px;
	background-color: #d1d0ce;
}
.sub-menu li a {
	display: inline-block;
	width:100%;
	box-sizing:border-box;
	padding: 6px 20px;
	font-size: 14px;
    
	line-height: 16px;
	color: #323232;
	text-decoration:none;
	background-color: transparent;
}
.sub-menu .active-product a {
	background-color: #d07058;
	color: #ffffff;
}

.sub-menu li a:hover {
	background-color: #fbded7;
}
.sub-menu li a:active {
	background-color: #f6b5a5;
}
.main-menu>li:hover .sub-menu {
	display:block;
}



.user-block {
    float:right;
	margin: 0;
	padding: 0;
	font-size:14px;
	line-height: 16px;
    
}

.user-block>li {
	display:inline-block;
	position:relative;
	vertical-align: top;
	padding-top: 13px;
	padding-bottom: 16px;
	margin-right:6px;
    
}
.user-block>li:last-child {
	margin-right: 0;
}

.work-time {
    text-align: right;
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	color: #ffffff;
}


.work-time a {
	font-size: 22px;
	line-height: 33px;
	font-weight: 900;
	color: #ffffff;
	text-decoration: none;
}




.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

main {
    
}

.slide-1,.slide-2,.slide-3 {
    text-align: center;
}

.switch {
    margin-bottom: 63px;
}
.content {
    margin-bottom: 30px;
    font-size: 18px; 
    
}

.content h2 {
    margin-bottom: 15px;
}

.content-left {
    width: 520px;
    float: left;
    min-height: 194px;
    margin-right: 26px;
    padding: 15px 20px 20px 20px;
    background: url(../img/fruit-bg.jpg) no-repeat;
    border-radius: 20px;
    position: relative; 
    
}



.content-link {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.content-right {
    width: 520px;
    float: right;
    background-color: forestgreen;
    min-height: 194px;
    padding: 15px 20px 20px 20px;
    background: url(../img/choco-bg.jpg) no-repeat;
    border-radius: 20px;
    position: relative;
}

.ices {
    font-size: 0;
   margin-bottom: -40px;
    margin-left: -13px;
}

.content-ice {
    list-style: none;
}



.content-ice-item {
    
    display: inline-block;
    vertical-align: top;
    min-width: 241px;
    min-height: 360px;
    padding: 10px 13px 15px 13px;
   
    
    font-size: 16px;
    
    position: relative;
    
}

.content-ice-item:nth-child(1) {
    margin-left: -40px;
    
}

.content-ice-item:nth-child(4n) {
    margin-right: -13px;
}

.content-ice:nth-child(2) {
    margin-bottom: -50px;
    margin-top: -50px;
}

.content-ice-item:hover {
    background-color: rgba(248,247,244,0.3);
	border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	z-index:10;
}



.top-left {
    position: absolute;
    
}

.price {
    position: absolute;
    top: 220px;
}

.bottom-ice-item {
     display:inline-block;
	vertical-align: top;
	text-align: center;
    width: 257px;

}

.price {
    font-size: 45px;
    font-weight: 700;
}

.price span {
    font-size: 30px;
}

.bottom-ice-item  {
   
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 10px;
	
	padding: 0 5px;
   
}

.ices-link a{
    color: #ffffff;
    text-decoration: underline;
}

.content-ice-item:hover a {
	text-decoration: none;
}

.ices-link-hover  {
   
    visibility:hidden;
	width:100%;
    margin-top: 10px;
    text-decoration: none;
}

.ices-link-hover a{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 0;
    
}

.content-ice-item:hover .ices-link-hover {
	visibility:visible;
}

.ices-link-hover .btn {
	padding-right: 18px;
	padding-left: 18px;

}

.description {
    background: #eadbc1 url("../img/pattern.jpg");
    min-height: 245px;
    margin-bottom: 40px;
    padding: 20px 20px 25px 20px;
    border-radius: 15px;
    color: #323232;
    
}

.caption {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 8px;
}

.description-column {
    font-weight: 400;
}

.description-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.description-left {
    float: left;
    width: 540px;
    margin-right: 26px;
    padding-top: 15px;
    position: relative;
}

.before-item-1:before {
    content: " ";  
    position: absolute;  
    top: 0;  
    left: 0;
    background: url(../img/small-ice.svg) no-repeat;  
    height: 48px;  
    width: 48px;  
}

.before-item-1 {
    margin-left: 56px;
    margin-bottom: 7px;
  
}

.before-item-2:before {
    content: " ";  
    position: absolute;  
    top: 3px;  
    left: -55px;
    background: url(../img/small-list.svg) no-repeat;  
    height: 48px;  
    width: 48px;  
}

.before-item-2 {
    position: relative;
    padding-top: 16px;
    margin-left: 56px;
}



.description-right {
    float: right;
    width: 540px;
    padding-top: 15px;
    position: relative;
}

.before-item-3 {

    margin-left: 56px;
    margin-bottom: 7px;
}

.before-item-4 {
    position: relative;
    padding-top: 16px;
    margin-left: 56px;
}

.before-item-3:before {
    content: " ";  
    position: absolute;  
    top: 0;  
    left: 0;
    background: url(../img/small-caw.svg) no-repeat;  
    height: 48px;  
    width: 48px;  
}

.before-item-4:before {
    content: " ";  
    position: absolute;  
    top: 3px;  
    left: -55px;
    background: url(../img/small-temp.svg) no-repeat;  
    height: 48px;  
    width: 48px;  
}

.blog-subscription {
    margin-bottom: 40px;
    color: #323232;
    
}

.blog {
    float: left;
    min-height: 172px;
    width: 520px;
    margin-right: 26px;
    padding: 23px 20px 25px 20px;
    background: #f8f7f4 url(../img/strawberry-bg.jpg);
    border-radius: 20px;
    
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.blog a {
    
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: #323232;
}

.blog a:hover {
    color: #e84d37;
}

.subscription {
    float: right;
    min-height: 157px;
    width: 510px;
    padding: 33px 25px 30px 25px;
    background: #f8f7f4 url(../img/color-bg.jpg);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
}

.subscription-form {
    position: relative;
    margin-top: 37px;
}

.subscription-form input {
    float: left;
    font: inherit;
    color: inherit;
    width: 345px;
    
    padding: 11px 0 10px 14px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
}

.subscription-form input:hover {
    padding: 10px 0 9px 12px;
    border: 2px solid #c7c6c5;
}

.subscription-form input:focus {
    padding: 10px 0 9px 12px;
    border: 2px solid #8fbdec;
}

.subscription-form label {
    visibility: hidden;
    font-size: 11px;
    color: #5b9ddf;
    font-weight: 400;
}

.subscription-form .email2 {
   position: absolute;
    top:-20px;
    left: 5px;
}

.subscription-form input:focus + label {
    visibility: visible;
}

input[type="text"]:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

input[type="search"]:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

input[type="password"]:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

input[type="email"]:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

input + textarea:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.subscription-form input:nth-child(2n) {
  margin-right: 0;
}

.subscription-form .btn {
    float: right;
    margin-left: 12px;
}





.btn  {
    display: inline-block;
    vertical-align: top;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f26843;
    background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.info {
    height: 430px;
    margin: 0;  
   position: relative;
}

.map {

    z-index: 5;
}



.aside {
    position: absolute;
    top: 62px;
    right: 0;
    margin-right: 27px;
    z-index: 20;
    float: right;
    
    padding: 30px 26px ;
    min-height: 245px;
    width: 250px;
    border-radius: 10px;
    
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    
    color: #323232;
    background-color: white; 
}

.aside .bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

span.bold {
    
   
    display: block;
    margin-bottom: 15px;
}

.aside .bold2 {
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
}


.btn-aside {
    margin-top: 25px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-align: center;
    
}

.main-footer {

    padding-top: 37px;
    min-height: 65px;
}

.main-footer .container {
    padding-top: 0;
}

.footer-social{

    float: left;
    min-height: 37px;
    width: 267px;
    margin-right: 134px;
    font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  font-size: 0;
  
  text-decoration: none;

}

.footer-social li:first-child a {
    margin-left: -40px;
}

.social-btn-tw {
    background: url(../img/tw.svg) no-repeat center, url(../img/tw-around.svg) no-repeat center;
}

.social-btn-tw:hover {
    background: url(../img/tw-hover.svg) no-repeat center, url(../img/tw-around-hover.svg) no-repeat center;
}

.social-btn-tw:active {
    background: url(../img/tw-active.png) no-repeat center, url(../img/tw-around-hover.svg) no-repeat center;
    
}

.social-btn-inst {
   background: url(../img/inst.svg) no-repeat center, url(../img/tw-around.svg) no-repeat center;
}



.social-btn-inst:hover {
   background: url(../img/inst-hover.svg) no-repeat center, url(../img/tw-around-hover.svg) no-repeat center;
}

.social-btn-inst:active {
   background: url(../img/inst-active.png) no-repeat center, url(../img/tw-around-hover.svg) no-repeat center;
}

.social-btn-fb {
    background: url(../img/fb.svg) no-repeat center, url(../img/tw-around.svg) no-repeat center;
}

.social-btn-fb:hover {
    background: url(../img/fb-hover.svg) no-repeat center, url(../img/tw-around-hover.svg) no-repeat center;
}

.social-btn-fb:active {
    background: url(../img/fb-active.png) no-repeat center, url(../img/tw-around-hover.svg) no-repeat center;
}

.social-btn-vk {
    background: url(../img/vk.svg) no-repeat center, url(../img/tw-around.svg) no-repeat center;
}

.social-btn-vk:hover {
    background: url(../img/vk-hover.svg) no-repeat center, url(../img/tw-around-hover.svg) no-repeat center;
}

.social-btn-vk:active {
    background: url(../img/vk-active.png) no-repeat center, url(../img/tw-around-hover.svg) no-repeat center;
}

.social-item {
    display: inline-block;
    font-size: 14px;
}

.footer-list {
     
    float: left;
     min-height: 37px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #ffffff;
     position: relative;
}


.footer-list a {
    color: #ffffff;
}

.footer-list a:hover {
    color: #ffbc9e;
    
}

.nav-left-list li:first-child a {
    font-weight: 700;
}

.footer-nav-left {
    
    float: left;
    width: 160px;
    
    margin-right: 5px;
   
}

.footer-nav-left:before {
    content: " ";  
    position: absolute;  
    top: 0;  
    left: 0;
    background: url(../img/heart.svg) no-repeat;  
    height: 13px;  
    width: 15px;  
}


.footer-nav-right {
    
    float: right;
    width: 260px;
}

.nav-left-list {
    list-style: none;
    margin:0;
    padding: 0 0 0 22px;
     
}

.nav-left-list li {
    margin-bottom: 5px;
}

.nav-right-list {
    list-style: none;
    margin:0;
    padding: 0;
     
}

.nav-right-list li {
    margin-bottom: 5px;
}


.footer-copyright {
    float: right;
    
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-top: -17px;
}

.title-inner {
   
    margin-bottom: 25px;
}

.breadcrumbs{
    font-size: 0;
   margin-top: -25px;
}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs a:hover {
    color: #ffbc9e;
}

.breadcrumbs-list {
    padding: 0;
}

.breadcrumbs-item {
    display: inline-block;
    vertical-align: text-top;
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
}

.forms {
    
    
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
    
}

.forms ul {
    padding-left: 0;
}

.form-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

 .filter-name  {
    font-size:14px;
	line-height: 16px;
	color:#ffffff;
	font-weight: 400;
	padding-left: 15px;
	margin-bottom: 6px;
}

.form-select-item {
    color: #ffffff;
    width: 193px;
    height: 36px;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    cursor: pointer;
	color: #ffffff;
	border:none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.form-select-item:hover {
    background: rgba(255, 255, 255, 1);
    color: #323232;
}

.form-select-item option {
	background-color: #ffffff;
	border-radius: 10px;
	color: #323232;
}

.range-filter {
	width: 220px;
    margin-left: 15px;
}
.range-controls {
	position: relative;
	height: 36px;
	padding: 0 15px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 100px;
	overflow: hidden;
}
.range-controls .scale {
	margin-top: 16px;
	height:4px;
	background-color: #d1dad3;
}
.range-controls .bar {
	margin-left: 22px;
	width: 100px;
	height:4px;
	background-color: #f8f7f4;
}
.range-controls .toggle {
	position:absolute;
	top:7px;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color: #f8f7f4;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	cursor:pointer;
}
.range-controls .toggle:hover {
	width:22px;
	height:22px;
	top:5px;
}
.range-controls .min-toggle {
	left: 36px;
}
.range-controls .max-toggle {
	left: 133px;
}
.price-controls input {
	width: 30px;
	padding-left: 2px;
	padding-right: 2px;
	font-size:14px;
	line-height: 16px;
	color:#ffffff;
	font-weight: 500;
	border:none;
	background-color: transparent;
	text-align: center;
}

.radio-form {
    margin-left: 15px;
}

.radio-list {
    padding: 9px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    color: #ffffff;
	border:none;
}

.fat-radio input{
	display:none;
}

.fat-radio {
	position: relative;
	padding-left: 27px;
	padding-right: 20px;
	color: #ffffff;
	font-size:16px;
	line-height: 18px;
	font-weight: 500;
	cursor:pointer;
	font-weight: 500;
}

.fat-radio:first-child {
	margin-left: 16px;
}

.fat-radio:last-child {
	padding-right: 0px;
}

.fat-radio input+.indicator {
	position:absolute;
	width: 18px;
	height: 18px;
	left: -1px;
	border-radius:50%;
	border:4px solid #aabcb2;
	box-shadow: 0 0 0 1px #f8f7f4;
	box-sizing: border-box;
	background-color: #aabcb2;
}

.fat-radio input:checked+.indicator{
	background-color: #f8f7f4;
}
.fat-radio input+.indicator:hover {
	box-shadow: 0 0 0 2px #f8f7f4;
	border:3px solid #aabcb2;
	width:16px;
	height:16px;
}

.radio-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    
}



.filter-block2 {
    margin-top: 14px;
	font-size: 0px;
}

.checbox-form {
    font-size: 0;
}

.checbox-item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.additive-item input {
	display:none;
}

.checkbox-list {
	padding: 9px 15px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 100px;
	color: #ffffff;
	border:none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.additive-item {
	position:relative;
	padding-left:30px;
	padding-right: 20px;
	cursor:pointer;
}

.additive-item {
	margin-right: 3px;
}

.additive-item:last-child {
	padding-right: 0px;
}

.additive-item:first-child {
	margin-left: 15px;
}

.additive-item input+.check-indicator {
	position:absolute;
	background: url("../img/checkbox-unchecked.svg") no-repeat;
	width:20px;
	height:20px;
	left:-1px;
	top: -1px;	
}

.additive-item input:checked+.check-indicator {
	background: url("../img/checkbox-checked.svg");
}

.additive-item input:checked+.check-indicator:hover {
	background: url("../img/checkbox-checked-hover.svg");
}

.additive-item input+.check-indicator:hover  {
	background: url("../img/checkbox-unchecked-hover.svg");
}

.btn-filter {
    margin-left: 13px;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	line-height: 18px;
	border:2px solid #fbfcfb;
	padding:7px 27px;
	background: rgba(255, 255, 255, 0.2);
	border-radius:100px;
	margin-top: 23px;
	cursor:pointer;
	font-family: "Roboto", "Arial", sans-serif;
}
.btn-filter:hover {
	background-color: #fbfcfb;
	color: #323232;
	border:none;
	padding-top: 7px;
	padding-bottom: 7px;
    border:2px solid transparent;
}
.btn-filter:active {
	background-color: #eaeaea;
	color: #323232;
	box-shadow: inset 0px 2px 1px #696969;
	border:none;
	padding-top: 9px;
	padding-bottom: 9px;
    
}

.pagination {
    
    font-size: 0;
    height: 26px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.pagination_item {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: 500;
    
    margin-right: 6px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50px;
}


.pagination_item a {
    display: block;
    margin-top: 2px;
text-decoration: none;
    color: #ffffff;
}

.pagination_item.active a {
    color: #323232;
    
}

.pagination_item.active {
    
    
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
}

.pagination_item.active:hover {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 50px
}


.pagination_item:hover {
     width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    
}

.pagination_item:active {
     width: 25px;
    height: 25px;
    background: #ffffff;
    
}



.pagination_item:active a {
    color: #323232;
}

.pagination_item:first-child {
    background: url(../img/back.png) no-repeat center;
}

.pagination_item:last-child {
     font-size: 0;
    background: url(../img/next.png) no-repeat center;
    margin-right: -5px;
}

.pagination_item:last-child:hover {
     width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2) url(../img/next.png) no-repeat center;
    
}

.pagination_item:last-child:active {
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 1) url(../img/next-black.png) no-repeat center;
}

.pagination_list {
    
    float: right;
}

.line {
    height: 1px;
    width: 100%;
    background: rgba(255,255,255, 0.3);
}

.user-block>li>a{
	display: inline-block;
    vertical-align: middle;
	color:#ffffff;
	padding-top: 8px;
	padding-bottom: 8px;
	
	font-weight: 500;
	background-color: rgba(255,255,255,0.2);
	text-decoration:none;
	border-radius:18px;
}

.user-block>li>a:hover {
	color:#323232;
	background-color: #f8f7f4;
}

.search {
    display: block;
    position: relative;
    width: 32px;
    height: 16px;
    background: rgba(255, 255, 255, 0.2) url(../img/zoom.svg) no-repeat center;
    border-radius: 50%;
}

.search:hover {
    background: rgb(233, 233, 233)  url(../img/zoom-black.png) no-repeat center;
}

.img-srarch {
    position: absolute;
    top: 7px;
    left: 7px;
}


.search-form {
    display: none;
    position: absolute;
    
    left: -303px;
    padding: 20px 15px;
    margin-top: 5px;
    background: #f8f7f4;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0 20px 20px 0 rgba(0%, 0%, 0%, 0.4);
}

.search-form input {
    padding: 12px 12px 12px 12px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    width: 306px;
    
}

.search-form input:hover {
    padding: 11px;
    border: 2px solid #c7c6c5;
}

.search-form input:focus {
    padding: 11px;
    border: 2px solid #8fbdec;
}

.search-form label {
    visibility: hidden;
    font-size: 11px;
    color: #5b9ddf;
    font-weight: 400;
}

.search-form .search1 {
   position: absolute;
    top: 5px;
    left: 20px;
}

.search-form input:focus + label {
    visibility: visible;
}

.user-block-search:hover .search-form {
    display: block;
    
}

.login {
    
    display: block;
    position: relative;
    text-align: right;
    padding: 8px 16px 8px 44px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px; 
}

.login-form-right {
    margin-top: 6px;
    float: right;
    width: 130px;
}

.login-form-right a {
    display: block;
    margin-bottom: 5px;
    color: #323232;
    font-size: 13px;
    font-weight: 400;
   
}

.login-form-right a:hover {
    color: #e84d37;
    
}

.login-form {
    display: none;
    width: 242px;
    position: absolute;
    left: -185px;
    padding: 20px 15px 20px 20px;
    margin-top: 5px;
    background: #f8f7f4;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 20px 20px 0 rgba(0%, 0%, 0%, 0.4);
    z-index: 20;
    
}

.login-form input {
    padding: 12px 12px 12px 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    width: 215px;
    
}

.user-block-login:hover .login-form {
    display: block;
}

.login-form input:hover {
    padding: 11px;
    border: 2px solid #c7c6c5;
}

.login-form input:focus {
    padding: 11px;
    border: 2px solid #8fbdec;
}

.login-form label {
    visibility: hidden;
    font-size: 11px;
    color: #5b9ddf;
    font-weight: 400;
}

.login-form .name2 {
   position: absolute;
    top: 5px;
    left: 25px;
}

.login-form .password1 {
   position: absolute;
    top: 68px;
    left: 25px;
}

.login-form input:focus + label {
    visibility: visible;
}


.login:before {
    content: "";
    position: absolute;
    top:7px;
    left: 16px;
    width: 19px;
    height: 19px;
    background:  url(../img/enter.svg) no-repeat center;
}

.login:hover:before {
    content: "";
    position: absolute;
    top:7px;
    left: 16px;
    width: 19px;
    height: 19px;
    background:  url(../img/enter-black.svg) no-repeat center;
}



.basket {
    display: block;
    position: relative;
    text-align: right;
    padding: 8px 34px 8px 44px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    
}


.basket:before {
    content: "";
    position: absolute;
    top:7px;
    left: 16px;
    width: 19px;
    height: 19px;
    background:  url(../img/basket.svg) no-repeat center;
}

.basket-inner {
    display: block;
    position: relative;
    text-align: right;
    padding: 8px 34px 8px 44px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    
}

.basket-inner:before {
    content: "";
    position: absolute;
    top:7px;
    left: 16px;
    width: 19px;
    height: 19px;
    background:  url(../img/basket-red.png) no-repeat center;
}


.basket:hover:before {
    content: "";
    position: absolute;
    top:7px;
    left: 16px;
    width: 19px;
    height: 19px;
    background:  url(../img/basket-black.svg) no-repeat center;
}



.basket-content {
    display: none;
    width: 504px;
    position: absolute;
    margin-top: 5px;
    left: -420px;
    padding: 20px 15px 20px 20px;
    color: #323232;
    background: #f8f7f4;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    box-shadow: 0 20px 20px 0 rgba(0%, 0%, 0%, 0.4);
    z-index: 20;
}



.user-block-basket:hover .basket-content   {
    display: block;
    
} 

.basket-table td {
    padding: 0;
    margin: 0;
}

.basket-table td:first-child {
    padding-right: 10px;
}

.basket-table td:nth-child(2) {
    padding-right: 14px;
}

.basket-table td:nth-child(3) {
    padding-right: 30px;
}

.basket-table td:nth-child(4) {
    padding-right: 30px;
}

.basket-table {
    border-collapse: collapse;
    position: relative;
}

.basket-table  span {
    color: #999999;
}

 .basket-table td{
    padding-bottom:  15px;
     
}

 .basket-table tr:last-child:after {
	content:"";
	position:absolute;
	right:-19px;
	bottom:0;
	left:-5px;
	height:1px;
	background-color: #d1d0ce;
}

.basket-price {
    display: block;
    position: relative;
    float: right;
    margin-top: 15px;
    margin-bottom: 60px;
    color: #333333;
    font-size: 15px;
    font-weight: 700;
}

.basket-link {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.user-item {
    display: inline-block;
    vertical-align: top;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
}

.modal-content {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -238px;
    top:338px;
    
    z-index: 20;
    
    
    
  width: 430px;
  padding: 20px 25px 25px 20px;

  color: #323232;
    font-size: 24px;

  background: #f8f7f4;
}

.modal-content-close {
  position: absolute;
  top: 15px;
  right: 15px;    
    background: #f8f7f4;
  width: 18px;
  height: 18px;

  font-size: 0;

  
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  
  right: 0;
  width: 19px;
  height: 2px;
  background-color: #323232;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-form {
    font-size: 16px;
    
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 28px;
}

.modal-form input {
    
    padding: 11px;
    width: 245px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    margin-bottom: 20px;
}



.modal-form input:hover {
    padding: 10px;
     border: 2px solid #c7c6c5;
    
}



.modal-form textarea {
    padding: 11px;
    width: 406px;
    height: 130px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    margin-bottom: 25px;
}

.modal-form textarea:hover {
    border: 2px solid #c7c6c5;
    padding: 10px;
}

.modal-form label {
    visibility: hidden;
    font-size: 11px;
    color: #5b9ddf;
    font-weight: 400;
}

.modal-form .name1 {
    position: absolute;
    left: 40px;
    top: 40px;
}

.modal-form .email {
    position: absolute;
    left: 40px;
    top: 102px;
}

.modal-form .textarea {
     position: absolute;
    left: 40px;
    top: 164px;
}

.modal-form input:focus + label {
    visibility: visible;
}

.modal-form textarea:focus + label {
    visibility: visible;
}

.modal-form input:focus {
     padding: 10px;
    border: 2px solid #8fbdec;
}

.modal-form textarea:focus {
     padding: 10px;
    border: 2px solid #8fbdec;
}

.modal-content p {
    margin-bottom: 19px;
}

.modal-form button {
    float: right;
}



.inner-page {
    position: relative;
    padding-top: 0;
    
   
   
}

a, .btn, textarea, input, select, button, option {
	outline:none;
}

